<!-- footer  -->
<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>
                    CATEGORIES
                </h4>
                <ul id="list">
                    <a href="">
                        <li>Publish Tender</li>
                    </a>
                    <a href="">
                        <li>Franchisee Offer</li>
                    </a>
                    <a href="">
                        <li>Solution for Supplier</li>
                    </a>
                    <a href="">
                        <li>Solution for Buyers</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Tender By State</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Tender By City</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Feedback</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Why Products?</li>
                    </a>

                </ul>
            </div>
            <div class="col-md-3">
                <h4>HELP</h4>
                <ul id="list">
                    <a href="">
                        <li>Track Order</li>
                    </a>
                    <a href="">
                        <li>Returns</li>
                    </a>
                    <a href="">
                        <li>Shipping</li>
                    </a>
                    <a href="">
                        <li>FAQ's</li>
                    </a>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>GET IN TOUCH</h4>
                <p>Any questions? Let us know in store at New Colony, Ashok Nagar, Fatehpur, UP 212601 or call us on (+91) 967166879</p>
                <i class="fa-brands fa-facebook fa-xl"></i><i class="fa-brands fa-instagram fa-xl"></i><i class="fa-brands fa-pinterest fa-xl"></i>
            </div>
            <div class="col-md-3">
                <h4>NEWSLETTER</h4>
                <input id='email' type="Email" placeholder="example@gmail.com">
                <button type="button" class="btn btn-outline-success subscribe">Subscribe</button>
                <ul id="list">
                    </a>
                    <a href="">
                        <li>Private Tenders</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Auction Tender</li>
                    </a>
                    </a>
                    <a href="">
                        <li>Privacy Policy</li>
                    </a>
                </ul>

            </div>
        </div>
        <div class="sponser">
            <div>
                <p>Copyright ©2022 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by Product</p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0435a97a94.js" crossorigin="anonymous"></script>
<script src="j/avascript/home.js"></script>
</body>

</html>