<%- include('partials/header') %>
    <div class="category1">

        <h2>Computer Hardwares</h2>
        <div class="row">
            <div class="col-md-3 gt">
                <img src="Images/main.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href="about"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 gt">
                <img src="Images/ch2.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 gt">
                <img src="Images/ch3.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 gt">
                <img src="Images/ch4.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
        </div>

    </div>
    <%- include('partials/footer') %>