<%- include('partials/header') %>
    <div id="btnTop">
        <button id="something"><i class="fa-solid fa-angles-up"></i></button>
    </div>
    </div>

    <section class="explore">

        <div class="col-lg-12 front ">
            <h2>Contact Us</h2>
        </div>

    </section>
    </section>

    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 border">
                    <h3>
                        Send Us Message
                    </h3>
                    <form action="" class="form">
                        <div class="content">
                            <i class="fa-solid fa-envelope fa-2x"></i><input type="email" placeholder="Your Email Address">
                        </div>
                        <div class="content">
                            <input type="textarea" placeholder="How can we Help?">
                        </div>
                    </form>
                    <div class="content-button">
                        <button id="buy">Submit</button>
                    </div>
                </div>
                <div class="col-lg-6 border1">
                    <div class="header">
                        <h3>
                            <i class="fa-solid fa-location-dot"></i> Address
                        </h3>
                        <p>
                            New Colony, Ashok Nagar near Ghajipur Bus-Stop, Fatehpur, UP 212601.
                        </p>
                    </div>
                    <div class="header">
                        <h3><i class="fa-solid fa-phone"></i>Call Us</h3>
                        <a href="#">+9183728642</a>
                    </div>
                    <div class="header">
                        <h3><i class="fa-solid fa-envelope"></i>Support Us</h3>
                        <a href="">contact@example.com</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>