<%- include('partials/header') %>

    <section class="details">
        <h1>Latest tender Infromation On University Service</h1>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search_Tender" aria-label="Search">
            <button class="btn btn-outline-success btn-lg" type="submit">Search</button>
        </form>

        <button id="buy">Learn More! &#8594;</button>

    </section>

    <section class="categories">
        <h1>Top Categories</h1>
        <div class="container">
            <div class="row">
                <div class="items col-md-3">
                    <i class="fa-sharp fa-solid fa-helmet-safety fa-2x"></i>
                    <a href="">
                        <h3>Civil Work</h3>
                    </a>

                </div>
                <div class="items col-md-3">
                    <i class="fa-solid fa-computer fa-2x"></i>
                    <a href="computer">
                        <h3>Computer Hardwares</h3>
                    </a>

                </div>
                <div class="items col-md-3">
                    <i class="fa-solid fa-lightbulb fa-2x"></i>
                    <a href="electrical">
                        <h3>Electrical Products</h3>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="items col-md-3">
                    <i class="fa-solid fa-flask-vial fa-2x"></i>
                    <a href="">
                        <h3>Laboratory Equipments</h3>
                    </a>
                </div>
                <div class="items col-md-3">
                    <i class="fa-sharp fa-solid fa-chair fa-2x"></i>
                    <a href="">
                        <h3>Furnitures</h3>
                    </a>

                </div>
                <div class="items col-md-3">
                    <i class="fa-solid fa-truck-fast fa-2x"></i>
                    <a href="">
                        <h3>Other Products</h3>
                    </a>

                </div>

            </div>
        </div>
    </section>

    <section class="services">
        <h1>Our Services</h1>
        <div class="container">
            <div class="row">
                <div class="cold-md-3 fetdiv">
                    <i class="fa-solid fa-bell fa-3x"></i>
                    <h4>Tender Alert</h4>
                    <p>
                        Under this Service, we will update you all new Tenders of your choice , over & above Tender Notice. You can choose to get Daily Alerts or Access our Website and get the relevant information of tenders.
                    </p>
                </div>
                <div class="cold-md-3 fetdiv">
                    <i class="fa-solid fa-square-poll-vertical fa-3x"></i>
                    <h4>Qualification Terms</h4>
                    <p>
                        Our Application also captures pre qualfication conditions as specified in tender document ,provided tender documents are available for free.This way it become easierfor you to decide to bid or not to bid in a tender.The idea is to save a lot of precious
                        time,which you should be spending on winning contracts.
                    </p>
                </div>
                <div class="cold-md-3 fetdiv">
                    <i class="fa-solid fa-file fa-3x"></i>
                    <h4>Tender Documents</h4>
                    <p>
                        Contains notice inviting tender, general description of the work, general rules and directions, terms and conditions of the proposed contract, schedule of materials with prices proposed to be issued by the department, earnest money to be deposited prior
                        to tendering, security deposit to be deposited on acceptance of the offer or prior to executing the contract and time for completion of the work. This part is applicable to tenders of all kinds of works.
                    </p>
                </div>
                <div class="cold-md-3 fetdiv last">
                    <i class="fa-solid fa-user-tie fa-3x"></i>
                    <h4>Supplier Market Place</h4>
                    <p>
                        Our Website also has a Huge supplier market that covers more than 100,000 comapnies.Univeristy use our website supplier marketplace to reach out to maximum numbers of Bidders Globally.So if You haven't yet registered on our website this is the time ,we
                        recommend that you register today.List us know if you have other requirements as well.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="process">
        <h1>Our Process</h1>
        <img src="/Images/process.png" class="img-fluid" alt="">

    </section>

    <section class="features">
        <div class="container">
            <h1>Features</h1>
            <div class="row">
                <div class="col-md-3">
                    <h2>Procurement Timelines</h2>
                    <p>
                        Better and competitive pricing of the procured material and negotiated contract rates to reduce the overall cost of procurement.
                    </p>
                </div>
                <div class="col-md-3">
                    <h2>Widen Market Reach</h2>
                    <p>
                        Reach out to buyers and suppliers across the globe crossing geographical barriers.Better and competitive pricing of the procured material and nagotiated contract rates to reduce the overall cost of procurement
                    </p>
                </div>
                <div class="col-md-3">
                    <h2>Product Classification</h2>
                    <p>
                        We also undertake product classification as per International Standards i.e. CVC, UNSPSC classification standards. This can help you get more detailed spend insight.
                    </p>

                </div>
            </div>
    </section>

    <section id="testimonials">

        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>The experience using this Web Application is extremely good.The portal give us a threadbare information on the tendersand projects.To sum up, the experience is extremely satisying.
                    </h2>
                    <img class="testimonial-image img-fluid" src="/Images/c1.jpg" alt="dog-profile">
                    <em>Pebbles, New York</em>
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">We are impressed with the service of PRODUCTS.Timing and quality always met our Expectations and everything is communicated in a professional and timely manner.</h2>
                    <img class="testimonial-image img-fluid" src="/Images/c2.jpg" alt="lady-profile">
                    <em>Beverly, Illinois</em>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>

            </a>
            <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>

            </a>
        </div>

    </section>

    <!-- <div class="contact-box"> -->
    <!-- <form action="">
            <input type="text" class="input-field" placeholder="Your Name">
            <input type="email" class="input-field" placeholder="Your Email">
            <textarea type="text" placeholder="Your Message" class="input-field textarea-field"></textarea>
            <button type="button" class="btxn">Send Mail</button>
        </form>
    </div>

    <div>

        <script>
            function SendMail() {
                var title = document.getElementById("title").value;
                var receiver = document.getElementById("Rec").value;
                window.location.href = "mailto:" + receiver + "?subject=" + "Live Interaction" + "&body=" + title;
            }
        </script> -->

    <%- include('partials/footer') %>
        <!-- <div class="contact-box">
            <form action="">
                <input type="text" class="input-field" placeholder="Your Name">
                <input type="email" class="input-field" placeholder="Your Email">
                <textarea type="text" placeholder="Your Message" class="input-field textarea-field"></textarea>
                <button type="button" class="btxn">Send Mail</button>
            </form>
        </div> -->