<%- include('partials/header') %>
    <div class="product">

        <h2>Computer Hardware</h2>
        <div class="row">
            <div class="col-md-3 get">
                <img src="/Images/main.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href="About"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ch2.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ch3.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ch4.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Computer Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
        </div>

    </div>
    <!-- new arrivals  -->
    <div class="product">

        <h2>Mechanical Equipment's</h2>
        <div class="row">
            <div class="col-md-3 get">
                <img src="/Images/m1.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Mechanical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/m2.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Mechanical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/m3.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Mechanical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/m4.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Mechanical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :2yr</h6>
            </div>
        </div>
    </div>

    <div class="product">

        <h2>Chemical Equipment's/Products</h2>
        <div class="row">
            <div class="col-md-3 get">
                <img src="/Images/ee1.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Chemical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ce2.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Chemical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ce3.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Chemical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ce4.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Chemical Products</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
        </div>
    </div>

    <div class="product">

        <h2>Electrical Components</h2>
        <div class="row">
            <div class="col-md-3 get">
                <img src="/Images/ee1.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Electrical Gadgets</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ee2.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Electrical Gadgets</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ee3.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Electrical Gadgets</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
            <div class="col-md-3 get">
                <img src="/Images/ee4.jpg" alt="" class="img-fluid img-thumbnail">
                <p>Tender I'd:UHG2345</p>
                <h6>Electrical Gadgets</h6><i class="fa fa-star ss"> </i><i class="fa fa-star ss">
            </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><i class="fa fa-star ss"> </i><br>
                <h5>$75</h5><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <h6>Warranty :1yr</h6>
            </div>
        </div>
    </div>


    <div id="pagination">
        <a href="">1</a>
        <a href="">2</a>
        <a href=""><i class="fa-solid fa-angles-right"></i></a>
    </div>
    <%- include('partials/footer') %>