<%- include('partials/header') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tender Details</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="td.css">
    </head>

    <body>
        <center>
            <h3 class="bd">Basic Details</h3>
        </center>

        <div class="maintd">
            <div class="d">
                <h4>Organisation Chain</h4>
                <p>Bundelkhand Tender||Contract Management Department-CMRL</p>
            </div>
            <div class="d">
                <h4>Tender Reference Number</h4>
                <p>CMRL P2-UG06/UI/2022</p>
            </div>
            <div class="d">
                <h4>Tender Id</h4>
                <p>Open Tender</p>
            </div>
            <div class="d">
                <h4>Tender Category</h4>
                <p>Works</p>
            </div>
            <div class="d">
                <h4>General Technical Evaluation Allowed</h4>
                <p>No</p>
            </div>
            <div class="d">
                <h4>Payment Mode</h4>
                <p>Offline</p>
            </div>
            <div class="d">
                <h4>Is Multi Currency Allowed For Free</h4>
                <p>No</p>
            </div>
            <div class="d">
                <h4>Form Of Contract</h4>
                <p>Works</p>
            </div>
            <div class="d">
                <h4>No.Of Covers</h4>
                <p>2</p>
            </div>
            <div class="d">
                <h4>ItemWise Technical Evaluation Allowed</h4>
                <p>No</p>
            </div>
            <div class="d">
                <h4>Is Multi Currency Allowed For BOQ</h4>
                <p>No</p>
            </div>
            <div class="d">
                <h4>
                    Allow Two Stage Bidding
                </h4>
                <p>No</p>
            </div>

        </div>
        <center>
            <button class="apply">
            <a href="apply"> Apply Now</a>
        </button>
        </center>

    </body>

    </html>
    <%- include('partials/footer') %>