<%- include('partials/header') %>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>

        </div>
        <div class="about-container">
            <div class="image-container">
                <img src="Images/image3.png" alt="">
            </div>
            <div class="text-container">
                <h1>Delhi Technical University</h1>
                <h3>Padmini Enterprises</h3>
                <p> We would really like to appreciate your company & customer technical support team especially Mr Janak for submitting & showing complete online bid submission process. Your all customer support team members are very sincere, polite & cooperative
                    . Please extend my sincere thanks once again to Mr Janak & whole team. </p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
        </div>
        <div class="about-container">
            <div class="image-container">
                <img src="Images/image1.jpg" alt="">
            </div>
            <div class="text-container">

                <h1>Bundelkhand University</h1>
                <h3>MINE LINE PVT. LTD</h3>
                <p> We would like to inform you that the services provided by PRODUCTS against their portal Tenderdetail is wonderful. We have received much valuable information that has been plated out every day. It has been a wonderful experience and we
                    are extremely satisfied to have a tie up with PRODUCTS.</p>
                <a href="">Read More</a>
            </div>

        </div>
    </div>
    <div class="wrapper">
        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
        </div>
        <div class="about-container">
            <div class="image-container">
                <img src="Images/image2.jpg" alt="">
            </div>
            <div class="text-container">
                <h1>Indian Institute of Technology</h1>
                <h3>Jayco Chemicals India</h3>
                <p> Efficient services Thank you for providing details of tenders specific to our business at the correct time. You have been very efficient and helpful while doing the same. Looking forward to continuing collaborating with you in the future.</p>
                <a href="">Read More</a>
            </div>

        </div>
    </div>

    <%- include('partials/footer') %>